body{
	margin: 0;padding: 0;

}
header{
	background: red;
	color: blue;
	text-align: center;
	padding: 4;
}
section{
	background: green;
	color: white;
	text-align: center;
}
footer{
	background: purple;
	color:red;
	text-align: center;
}